.main-section {
    height: 800px;
    border: 1px solid #ccc !important;
    padding: 16px;
}
body {
    font-family: sans-serif;
}
nav {
    margin-bottom: 16px;
    background:blue;
    padding: 8px 0;
}
a.active {
    color:hotpink;
}
a {
    text-decoration: none;
    color: white;
    margin: 10px;
}